:root {
    --white: #ffffff;
    --light-pink: #f9f0ff;
    --grayish-purple: #8b6990;
    --dark-purple: #2f1533;
    --pink: #AD28EB;
    interpolate-size: allow-keywords;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: var(--dark-purple);

}

img,
picture {
    inline-size: 100%;
    block-size: auto;
}

body {
    min-block-size: 100vh;
    background-image: url("assets/images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    background-color: var(--light-pink);
    display: grid;
    place-items: center;
}

.faq {
    display: flex;
    flex-direction: column;
    padding: clamp(24px, 6vw, 40px);
    background-color: var(--white);
    border-radius: clamp(8px, 3vw, 16px);
    max-inline-size: 600px;
    gap: 24px;
    box-shadow: 0px 20px 25px 25px rgba(0, 0, 0, 0.05);
}

.faq__header {
    display: flex;
    gap: 24px;
    align-items: center;
}

.faq__icon {
    block-size: clamp(24px, 6vw, 40px);
    inline-size: clamp(24px, 6vw, 40px);
}

.faq__title {
    font-size: clamp(32px, 8vw, 56px);
}

.faq__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.faq__item {
    display: flex;
    flex-direction: column;
}

.faq__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    text-align: start;
    gap: 16px;
    background-color: var(--white);
}

.faq__question p {
    font-size: clamp(14px, 3vw, 18px);
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.faq__question img {
    inline-size: 30px;
    block-size: 30px;
}

.faq__question:hover {
    color: var(--pink);
    cursor: pointer;
}

.faq__answer {
    height: 0;
    overflow: hidden;
    padding-top: 0px;
    transition-property: height,padding-block-start;
    transition-duration: 0.5s;
}

.faq__answer p {
    font-size: clamp(14px, 3vw, 16px);
    line-height: 1.5;
    color: var(--grayish-purple);
}

.show-answer {
    height: auto;
    padding-block-start: 24px;
    height: calc-size(auto);
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    body {
        background-image: url("assets/images/background-pattern-desktop.svg");
    }

    .faq {
        gap: 32px;
    }

    .faq__list {
        gap: 48px;
    }
}